@{
    ViewData["Title"] = "Home Page";
}


    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <div class="row">
            <div class="col col-12 header__bg  d-flex align-items-center justify-content-center flex-column">
                <h1 class="text-white font-weight-bold">Welcome to Student Profiling System</h1>
                <h3 class="header_text text-white font-weight-bold">"Monitoring Student success."</h3>
                <button class="btn btn-danger p-2 px-5 m-3">Get started</button>
            </div>
        </div>


        @*<div class="">
            <div id="carouselExampleCaptions" class="carousel slide h-75" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/hero_2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-white">Student Profiling System</h1>
                            <p>A centralised, all-in-one system connecting students, lecturers, and colleges</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/students_studying.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-white">For Students</h1>
                            <p>Find your courses, achievements, and overall progress</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/holding_phone.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="text-white">Your profile</h1>
                            <p>Track your progress, grades and persoanlity</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>*@

        <div class="container site-section">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-6">
                    <span class="text-primary">What is SPS?</span>
                    <h2 class="mb-4">An all-in-one system</h2>
                    <p>University Management System is an online progress tracker for students at university. Log your progress, track your achievements, and see how university influences your personality with our free persoanlity test.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-1">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                        <div class="feature-1-contents">
                            <h2>A personalised profile</h2>
                            <p>Enter your details to keep track of your personal progress throughout your university career</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-1">
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                        <div class="feature-1-contents">
                            <h2>View courses and study plans</h2>
                            <p>View your unit list and set a personalised study plan to make studying as simple as possible.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-1">
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                        <div class="feature-1-contents">
                            <h2>Personality test</h2>
                            <p>Your personality influences how you study and how you work with others. Our free personality test will help you find your unique personality and adapt your study habits accordingly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section section-2">
            <div class="container">
                <div class="row justify-content-center text-center mb-5 section-2-title">
                    <div class="col-md-6">
                        <span class="text-primary"></span>
                        <h2 class="mb-4">Why Should You Use SPS?</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="container site-section">
                <div class="row align-items-stretch feature-2">
                    <div class="col-lg-9 feature-2-img">
                        <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-3 feature-2-contents pl-lg-5">
                        <div class="fixed-content">
                            <span class="caption">01.</span>
                            <h3 class="mb-5">Improve your university performance</h3>
                            <p>SPS provides you with your own unique tools to succeed in your degree</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container site-section">
                <div class="row align-items-stretch feature-2">
                    <div class="col-lg-9 feature-2-img order-lg-2">
                        <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-3 feature-2-contents pr-lg-5">
                        <div class="fixed-content">
                            <span class="caption">02.</span>
                            <h3 class="mb-5">Your university details in one place</h3>
                            <p>Find everything from course details to grades in one convenient app</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="container site-section">
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <span class="text-primary">Design for the future</span>
                    <h2 class="mb-4">A Modern Solution</h2>
                    <p>SPS uses the latest web application technology to give you the best experience and keep your data secure</p>
                </div>
            </div>
            <div class="row">
                <div class="d-flex align-content-center flex-wrap">
                    <div class="col-md-6 p-3">
                        <h3>ASP .NET</h3>
                        <p>SPS uses the latest ASP .NET framework to deliver your data quickly and securely</p>
                    </div>
                    <div class="col-md-6 p-3">
                        <div>
                            <h3>Three-Tier Architecture</h3>
                            <p>SPS is structured in a three-tier architecture, making it simple to build and update</p>
                        </div>
                    </div>
                    <div class="col-md-6 p-3">
                        <div>
                            <h3>Deep Resources</h3>
                            <p>SPS delivers everything you need to make your life as simple as possible</p>
                        </div>
                    </div>
                    <div class="col-md-6 p-3">
                        <div>
                            <h3>World-class Quality</h3>
                            <p>SPS is unparalleled in features, quality of life, and commitment to student services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.carousel').carousel();
        </script>


